__pycache__/
*.py[cod]
*$py.class
.env
.git/
.gitignore
db.sqlite3
media/
staticfiles/
noxa_app/base/db.sqlite3
noxa_app/base/media/
noxa_app/base/staticfiles/
rag.log
data/
src.rar
tests/
.vscode/
.idea/
