# Environment variables for Docker deployment
DEBUG=True
SECRET_KEY=django-insecure-8#-vp#m#wl*7@5)v6$x9hy-_bpg80axt1p$(hmc5x__nhvvnx5
OPENAI_API_KEY=your-api-key-here
ALLOWED_HOSTS=127.0.0.1,localhost,0.0.0.0



